@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,300;1,400;1,600;1,700&display=swap');

* {
  user-select: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

:root {
  /* color */
  --colorPrimary: #0D263B;
  --colorSecondary: #696969;
  --colorThird: #aeaeae;
  /* background */
  --backgroundPrimary: #0061DF;
  --backgroundPrimary: #0061DF;
  /* padding */
  --padding: 0 130px;
  /* font family */
  --fontFamily: 'Montserrat', sans-serif;;
}

h3 {
  color: #fff !important;
  margin-bottom: 0 !important;
}

.subTitle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #0D263B;
}

.info {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #696969;
}

.icons {
  width: 30px;
  height: 30px;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px 0;
  gap: 10px;
  width: fit-content;
}

.btn-container-bg {
  background: #F6F8F9;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.icon-bg {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #F6F8F9;
  border-radius: 500px;
  margin-left: 20px;
  cursor: pointer;
}

.icon-bg:active {
  transform: scale(0.9);
}

.inline {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}